/* Layout */

body{
    margin-left: auto;
    margin-right: auto;
    background-color:white;
}
#container{
    background-color: white;
    height:10px;
    width:600px;
}

#header {
    background-color: white;
    height:100px;
    width:1500px;
}

#content {
    
    background-color: white;
    margin-left: 150px;
    height:0px;
    width: 290px;
}

/* Navigation */
#navigation {
list-style: none;
font-family: "Century Gothic", Verdana, Arial, Sans-Serif;
margin: 0;
padding: 0;
font-size: 1.2em;
}

/* CSS for each Parent Item */
#navigation li
{
clear: both;
height: 2em;
}

#navigation li a{
    float: left;
    display: block;
    padding: 4px;
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-right: 10px;
}
/* Change background color and font color of parent items when mouse hover */
#navigation li:hover a,
#navigation li a:hover
{
    background: #999;
    color: #fff;
    
}

#infobox  {
    background: lime;
    width:200px;
    
}


box1{
    height: auto;   
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    
    }

p{
    font-size:15px;
    text-align:center;
}








p { color: #c white;}
a:link      { color: black; }
a:link      { color: yellow; }
a:link      { color: green; }
a:link      { color: orange; }
a:link      { color: silver; }

#box1 {
    width: 200px;
    height: 100px;
    background: #97B48F;
    
    border-radius: 15px;
}







