/* Layout */

#header {
    background-color: blue;
}

#content {
    
    background-color: red;
    margin-left: 150px;
    width: 290px;
}

#navigation  {
    border: 2px solid blue;
    width: 150px;
    float: left;
}

#container {
    background:#CEE;
    overflow:auto;
    width:960px;
}


#infobox  {
    background: lime;
    width:200px;
    
}













p { color: #B9D;}
a:link      { color: black; }
a:link      { color: yellow; }
a:link      { color: green; }
a:link      { color: orange; }
a:link      { color: silver; }

#box1 {
    width: 200px;
    height: 100px;
    background: #97B48F;
    
    border-radius: 15px;
}
